html {
  scroll-behavior: smooth;
}
#mn{
  display:inline-block;
  text-align:right;
  padding:5px 7px 3px 5px;
  padding-left:15px;
  font-size:10pt;
  background-color:white;
  border-radius:2px;
  position:absolute;
  color:black;
  margin:7px;
  justify-content:;
  font-family: 'Mate SC', serif;
}
#Logo{
  margin-left:10px;

}
#Ltext{
  color:white;
  font-size:14pt;
  font-family: 'Indie Flower', cursive;
  margin-left:100px;
  padding-top:10px;
  margin-bottom:60px;

}
#Menu{
  display:flex;
  background-color:darkred;
  width:100%;
  height:7%;
  position:fixed;
  justify-content:left;
  box-shadow:-7px 0px 20px black;
}
.closebtn {position: absolute;
           color:white;
           top: 0;
           right: 10px;
           font-size: 36px;
           margin-left: 50px;
           z-index:2;
           width:40px;
           height:40px;
           text-align:center;
           transition:1s;
}
.closebtn:hover {color:red;
}
#mySidenav {
          background-color:darkred;
          position:fixed;
          height: 0%;
          width: 100%;
          overflow:hidden;
          transition: 1s;
          top: 0;
          left: 0;
          z-index:1;
          box-shadow:-7px 0px 15px black;
}
a {
   text-decoration:none; 
   color:white;
   border:none;
}
a:hover{
   text-decoration:none;
   background-color:none;
}
.a,#h{
   text-decoration:none;
   padding:10px;
   padding-left:20px;
   display:block;
   cursor:crosshair;
   font-family:Serif;
   font-size:12pt;
   color:white;
   overflow:hidden;
}
.a:hover {
   text-decoration:none;
   color:white;
}
hr{
  width:70%;
  border-color:red;
}
#home{
  background-color:#f5f4ef;
  height:100%;
  width:100%;
  display:block;
  justify-content:center;
}
#main{
  margin-left:16%;
}
#dtl,#ln,#buyy,#buy2,#a1,#a2,#cw,#psale,#plink{
  text-align:center;
  color:green;
  font-size:12pt;
  font-weight:bold;
  font-family: 'Nunito', sans-serif;
}
#psale{
  color:pink;
  font-family:Courier;
}
#plink{
  color:#FF69B4;
}
#whatIs{
  text-align:center;
  color:darkred;
}
#i1,#i2,#i3{
  padding: 15px 5px 11px 10px;
  border:1px solid green;
  background-color:#f5f4ef;
  border-radius:1px;
  margin:5px 0px 30px 105px;
  color:brown;
  height:50%;
  width:40%;
  text-align:center;
  font-weight:bold;
  font-size:13pt;
  font-family:Avenir;
}
#wi{
  height:100%;
  width:100%;
}
#scan{
  color:white;
  display:block;
  background-color:Darkred;
  border:1px solid darkred;
  border-radius:70px 70px 70px 0px;
  font-size:13pt;
  text-align:center;
  padding:10px 0 10px 10px;
  margin-left:40px;
  height:40%;
  width:80%;
  font-family:Avenir;
}
#brdr{
  display:block;
  justify-content:center;
  align-items:center;
  border:1px solid darkred;
  border-radius:70px 70px 70px 0px;
  margin-left:10px;
  margin-right:10px;
  height:90%;
  position:relative;
}
#buy2{
  font-size:15pt;
  font-family:Alvenir;
}
#buy3{
  display:inline-block;
  margin:0 0 5px 60px;
}
#cc {
  display:flex;
  padding:9px 10px 14px 10px;
  font-size:9pt;
  justify-content:center;
  align:center;
  border:none;
  color:white;
  height:5%;
  font-style:Helvetica;
}
#cu {
  color:white;
  background-color:darkred;
  height:100%;
  width:100%;
}
#icons {
  margin:5px 10px 15px 105px;
  padding:10px;
}
#copyright{
  border:none;
  margin-right:1px;
  height:100%;
  width:100%;
  box-align:center;
}
#cw{
  color:#1B252f;
  font-size:7pt;
}
#m1,#m2,#m3{
  margin-right:20px;
}
#m1{
  margin-left:110px;
}
#PreSale{
  display:block;
  background-color:black;
  margin:10px;
  margin-top:90px;
  justify-content:center;
  align-items:center;
}
#pfont{
  color:white;
  text-align:center;
  margin:5px;
}
#p1{
   text-align:left;
   color:white;
}
#ul{
  color:white;
}
