*{
-webkit-tap-highlight-color:none
}
html {
  scroll-behavior: smooth;
}
#mn{
  display:flex;
  text-align:right;
  padding:1% 2% 1% 3%;
  font-size:10pt;
  background-color:white;
  border-radius:2px;
  position:absolute;
  color:black;
  margin:3%;
  justify-content:left;
  font-family: 'Mate SC', serif;
}
#Menu{
  display:flex;
  background-color:darkred;
  width:100%;
  height:50px;
  position:fixed;
  z-index:2;
  justify-content:left;
  box-shadow:-7px 0px 20px black;
}
.closebtn {
  position: absolute;
  color:white;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  width:40px;
  height:40px;
  text-align:center;
  transition:0.1s;
}
.closebtn:hover {color:red;
}
#mySidenav {
  background-color:darkred;
  position:fixed;
  height: 0%;
  top:6%;
  width: 100%;
  overflow:hidden;
  transition: 0.1s;
  z-index:1;
  box-shadow:-7px 0px 15px black;
  
}
a {
  text-decoration:none; 
  color:white;
  background-color:none;
  border:none;
}
a:hover{
  text-decoration:none;
  background-color:none;
}
.a,#h{
   text-decoration:none;
   padding:10px;
   padding-left:20px;
   display:block;
   cursor:crosshair;
   font-family:Serif;
   font-size:12pt;
   color:white;
   overflow:hidden;
}
.a:hover {
   text-decoration:none;
   color:white;
}
hr{
  width:70%;
  border-color:red;
}
#home{
  background-color:#f5f4ef;
  height:100%;
  width:100%;
  display:block;
  justify-content:center;
}
#main{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
}
#dtl,#ln,#buyy,#a1,#a2,#cw,#psale,#plink{
  text-align:center;
  color:green;
  font-size:12pt;
  font-weight:bold;
  font-family: 'Nunito', sans-serif;
}
#psale{
  color:pink;
  font-family:Courier;
}
#plink{
  color:#FF69B4;
}
#whatIs{
  text-align:center;
  color:darkred;
}
#i1,#i2,#i3{
  padding: 15px 5px 11px 10px;
  background-color:#f5f4ef;
  margin-left:auto;
  margin-right:auto;
  color:brown;
  height:50%;
  width:55%;
  text-align:center;
  font-weight:bold;
  font-size:15pt;
  font-family:Avenir;
}
#wi{
  height:100%;
  width:100%;
}
#scan{
  color:Darkred;
  display:block;
  background-color:white;
  border:1px solid darkred;
  border-radius:70px 70px 70px 0px;
  font-size:13pt;
  text-align:center;
  padding:10px 0 10px 10px;
  margin-left:40px;
  height:40%;
  width:80%;
  font-family:Avenir;
}
#brdr{
  display:block;
  justify-content:center;
  align-items:center;
  background-color:white;
  border:1px solid darkred;
  border-radius:70px 70px 70px 0px;
  margin-left:10px;
  margin-right:10px;
  height:90%;
  position:relative;
}
#buy2{
  font-size:15pt;
  color:darkred;
  font-family:Alvenir;
  text-align:center;
}
#buy3{
  display:inline-block;
  margin:0 0 5px 65px;
  border:1px outset darkblue;
  border-radius:30px;
}
#cc {
  display:flex;
  font-size:13pt;
  justify-content:center;
  align:center;
  border:none;
  font-family:Helvetica;
}
#cu {
  display:block;
  color:black;
  background-color:#fffff0;
  height:100%;
  width:100%;
}
#icons {
  display:flex;
  margin-right:auto;
  margin-left:auto;
  font-size:20pt;
  justify-content:center;
  align:center;
}
.fa-telegram,.fa-twitter,.fa-google{
  color:black;
  padding:1%;
  background-color:none;
}
.fa-telegram:hover,.fa-twitter:hover,.fa-google:hover{
  color:grey;
}
#copyright{
  border:none;
  margin-top:5px;
  height:100%;
  width:100%;
}
#cw{
  color:#1B252f;
  font-size:7pt;
}
#meme{
  display:flex;
  margin-right:auto;
  margin-left:auto;
  width:50%;
  justify-content:center;
}
#PreSale{
  display:block;
  background-color:black;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
#pfont{
  color:white;
  text-align:center;
  margin:5px;
}
#pfont2{
  color:white;
  margin:5px;
}
#p1{
  text-align:center;
}
#p2{
  color:grey;
}
#p3{
  border:1px solid red;
  border-radius:3%;
  background-color:black;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding:2%;
  font-size:15pt;
}
#p4{
  border:1px solid red;
  border-radius:3%;
  background-color:black;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding:2%;
  font-size:15pt;
  color:white;
}
#p5{
  color:grey;
}
