@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
html {
  scroll-behavior: smooth;
}
body{background-color:black;}
#mn{
  display:flex;
  text-align:right;
  padding:1% 2% 1% 3%;
  font-size:13pt;
  background-color:black;
  border-radius:2px;
  position:absolute;
  color:white;
  margin:3%;
  justify-content:left;
  font-family: 'Mate SC', serif;
}
#Menu{
  display:flex;
  background-color:black;
  width:100%;
  height:50px;
  position:fixed;
  z-index:2;
  justify-content:left;
  box-shadow:-7px 0px 20px black;
  box-sizing:border-box;
}
.closebtn {
  position: absolute;
  color:white;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  width:40px;
  height:40px;
  z-index:3;
  text-align:center;
  transition:0.1s;
}
.closebtn:hover {color:red;
}
#mySidenav {
  background-color:black;
  position:fixed;
  height: 0%;
  top:6%;
  width: 100%;
  overflow:hidden;
  transition: 0.1s;
  z-index:1;
  box-shadow:-7px 0px 15px black;
  
}
a {
  text-decoration:none; 
  color:white;
  background-color:none;
  border:none;
  -webkit-tap-highlight-color:none
}
a:hover{
  text-decoration:none;
  background-color:none;
}
.a,#h{
   text-decoration:none;
   padding:12px;
   padding-left:20px;
   display:block;
   cursor:crosshair;
   font-family:Serif;
   font-size:12pt;
   color:white;
   overflow:hidden;
}
.a:hover {
   text-decoration:none;
   color:white;
}
#dtl,#ln,#buyy,#a1,#a2,#cw,#psale{
  text-align:center;
  color:white;
  font-size:12pt;
  font-weight:bold;
  font-family: 'Nunito', sans-serif;
}
#hom{
  background-image:url("bg-1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:1000px;
}
#home{
  color:black;
  height:100%;
  width:100%;
  display:block;
  justify-content:center;
}
#pef{
  margin-left:2%;
  font-size:23pt;
  color:white;
  font-family: 'Cinzel', serif;
}
/*#main{
  float:left;
}*/
#ln{
  color:white;
  font-size:9pt;
}
#i1,#i2,#i3{
  display:block;
  padding: 10px 5px 10px 10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:13%;
  color:#fff;
  border:1px solid #fff;
  border-radius:5px;
  height:50%;
  width:55%;
  text-align:center;
  font-weight:bold;
  font-size:15pt;
  font-family:Avenir;
  text-shadow:0 0 20px black;
}
#wi{
  background-color:black;
}
#psale{
  color:pink;
  font-family:Courier;
}
#plink{
  color:#FF69B4;
}
#whatIs , .wcu{
  text-align:center;
  color:darkred;
  font-weight:bold;
}
#ww2{
  color:lightgreen;
  font-size:15pt;
}
#wi{
  height:100%;
  width:100%;
}
.fa-rocket{
  color:white;
  float:left;
  font-size:30pt;
}
.fa-tachometer,.fa-gift{
  color:white;
  text-align:center;
  font-size:30pt;
  display:block;
}
#scan{
  color:white;
  display:block;
  font-weight:bold;
  border:3px solid darkred;
  border-radius:70px 70px 70px 0px;
  font-size:12pt;
  text-align:center;
  padding:10px 0 10px 10px;
  margin-left:40px;
  height:40%;
  width:80%;
  font-family:Avenir;
}
#bsc{
  background-color:black;
}
#buyy{}
#brdr{
  display:block;
  justify-content:center;
  align-items:center;
  background-color:black;
  border:3px solid darkred;
  border-radius:70px 70px 70px 0px;
  margin-left:10px;
  margin-right:10px;
  height:90%;
  position:relative;
}
#buy2{
  font-size:12pt;
  color:white;
  font-weight:bold;
  font-family:Alvenir;
  text-align:center;
}
#bb2{
  font-size:13pt;
}
#buy3{
  display:inline-block;
  margin:0 0 5px 65px;
  border:2px solid darkblue;
  border-radius:30px;
}
#aims {
  background-color:black;
  display:block;
  height:100%;
}
#li{
  color:#E8E8E8;
  text-align:center;
}
#cc {
  display:flex;
  font-size:13pt;
  justify-content:center;
  align:center;
  border:none;
  font-family:Helvetica;
}
#cu {
  display:block;
  color:white;
  background-color:#101010;
  height:100%;
  width:100%;
}
#icons {
  display:flex;
  margin-right:auto;
  margin-left:auto;
  font-size:20pt;
  justify-content:center;
  align:center;
}
.fa-telegram,.fa-twitter,.fa-google{
  color:#aaa;
  padding:1%;
  background-color:none;
}
.fa-telegram:hover,.fa-twitter:hover,.fa-google:hover{
  color:white;
}
#copyright{
  border:none;
  padding: 8px 0 2px 0;
  height:100%;
  width:100%;
  background-color:#202020;
}
#cw{
  color:#B8B8B8;
  font-size:7pt;
}
#PreSale{
  display:block;
  background-color:black;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
#pfont{
  color:white;
  text-align:center;
  margin:5px;
}
#pfont2{
  color:white;
  margin:5px;
}
#p1{
  text-align:center;
}
#p2{
  color:grey;
}
#p3{
  border:1px solid red;
  border-radius:3%;
  background-color:black;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding:2%;
  font-size:15pt;
}
#p4{
  border:1px solid red;
  border-radius:3%;
  background-color:black;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding:2%;
  font-size:15pt;
  color:white;
}
#p5{
  color:grey;
}
