@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
html {
  scroll-behavior: smooth;
}
body{background-color:black;   font-family: 'PT Sans', sans-serif;}
.noSelect{
--webkit-tap-highlight-color:rgba(255, 255,255,0) 
}
#mn{
  display:flex;
  text-align:right;
  padding:1% 2% 1% 3%;
  font-size:13pt;
  background-color:black;
  border-radius:2px;
  position:absolute;
  color:white;
  margin:3%;
  justify-content:left;
  font-family: 'Mate SC', serif;
}
div:hover{
  /*transform:rotate(360deg);
  transition: 1s ease-in-out;*/
}
#Menu {
  display: flex;
  background-color: black;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  /* justify-content: left; */
  box-shadow: -7px 0px 20px black;
  box-sizing: border-box;
  top: 0;
  left: 0;
  align-items: center;
}
.closebtn {
  position: absolute;
  color:white;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  width:40px;
  height:40px;
  z-index:3;
  text-align:center;
  transition:0.1s;
}
.closebtn:hover {color:red;
}
#mySidenav {
  background-color:black;
  position:fixed;
  height: 0%;
  top:6%;
  width: 100%;
  overflow:hidden;
  transition: 0.1s;
  z-index:1;
  box-shadow:-7px 0px 15px black;
  
}
a {
  text-decoration:none; 
  color:white;
  background-color:none;
  border:none;
  -webkit-tap-highlight-color:none
}
a:hover{
  text-decoration:none;
  background-color:none;
}
.a,#h{
   text-decoration:none;
   padding:12px;
   padding-left:20px;
   display:block;
   cursor:crosshair;
   font-family:Serif;
   font-size:12pt;
   color:white;
   overflow:hidden;
}
.a:hover {
   text-decoration:none;
   color:white;
}
#dtl,#ln,#buyy,#a1,#a2,#cw,#psale{
  text-align:center;
  color:white;
  font-size:12pt;
  font-weight:bold;
  font-family: 'Nunito', sans-serif;
}
#hom{
  background-image:url("bg-1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:1000px;
}
#home{
  color:black;
  height:100%;
  width:100%;
  display:block;
  justify-content:center;
}
#pef{
  margin-left:2%;
  text-align:center;
  font-size:22pt;
  color:white;
  font-family: 'Cinzel', serif;
}
/*#main{
  float:left;
}*/
#ln{
  color:white;
  font-size:9pt;
}
#i1,#i2,#i3{
  display:block;
  padding: 10px 5px 10px 10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:13%;
  color:#fff;
  border:1px solid #fff;
  border-radius:5px;
  height:50%;
  width:55%;
  text-align:center;
  font-weight:bold;
  font-size:15pt;
  font-family:Avenir;
  text-shadow:0 0 20px black;
}
#wi{
  background-color:black;
}
#psale{
  color:pink;
  font-family:Courier;
}
#plink{
  color:#FF69B4;
}
#whatIs , .wcu,#pfont,#pfont2{
  text-align:center;
  color:darkred;
  font-weight:bold;
}
#ww2{
  color:lightgreen;
  font-size:15pt;
}
#wi{
  height:100%;
  width:100%;
}
.fa-rocket{
  color:white;
  float:left;
  font-size:30pt;
}
.fa-tachometer,.fa-gift,.fa-cubes,.fa-bicycle{
  color:white;
  text-align:center;
  font-size:30pt;
  display:block;
}
#scan{
  color:white;
  display:block;
  font-weight:bold;
  border:3px solid darkred;
  border-radius:70px 70px 70px 0px;
  font-size:12pt;
  text-align:center;
  padding:10px 0 10px 10px;
  margin-left:40px;
  height:40%;
  width:80%;
  font-family:Avenir;
}
#bsc{
  background-color:black;
}
#buyy{}
#brdr{
  display:block;
  justify-content:center;
  align-items:center;
  background-color:black;
  border:3px solid darkred;
  border-radius:70px 70px 70px 0px;
  margin-left:10px;
  margin-right:10px;
  height:90%;
  position:relative;
}
#buy2{
  font-size:12pt;
  color:white;
  font-weight:bold;
  font-family:Alvenir;
  text-align:center;
}
#bb2{
  font-size:13pt;
}
#buy3{
  display:inline-block;
  margin:0 0 5px 65px;
  border:2px solid darkblue;
  border-radius:30px;
}
#aims {
  background-color:black;
  display:block;
  height:100%;
}
#li{
  color:#A00000;
  text-align:center;
}
#PreSale{
  display:block;
  background-color:black;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
#pfont{
  text-align:center;
  margin:5px;
}
#pfont2{
  margin:5px;
}
#p1{
  text-align:center;
}
#p2{
  color:#DCDCDC;
}
#p3{
  border:1px solid red;
  border-bottom:none;
  border-radius:3%;
  background-color:black;
  width:100%;
  padding:2%;
  font-size:10pt;
  color:#33FFCC;
}
#p4{
  border:1px solid red;
  border-radius:3%;
  background-color:black;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  padding:2%;
  font-size:15pt;
}
#p5{
  color:#DCDCDC;
}
#p6{
  color:grey;
  font-size:7pt;
}
#b1{
  border:1px solid red;
  border-top:none;
  border-radius:3%;
  background:none;
  width:100%;
  padding:2%;
  color:white;
}
.fa-clipboard{
  color:#33FFCC;
  margin-left:0;
  margin-bottom:0;
  font-size:10pt;
}
#b1:hover,.fa-clipboard{
  color:lightgreen;
}
#box{
  background-image:url("Bg-3.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  color:white;
  justify-content:center;
  align-items:center;
  padding:2%;
  padding-bottom:5%;
  margin:7%;
  box-shadow:0 0 20px #303030;
  border-radius:10%;
  font-family:Avenir;
}
#pef2{
  color:white;
  font-family: 'Cinzel', serif;
}
#hdn{
  font-weight:bold;
}
#para{
  font-weight:400;
    color:#DCDCDC;
}
#cu {
  display:block;
  color:white;
  background-color:#101010;
  height:100%;
  width:100%;
  justify-content:center;
  align-items:center;
}
#cc {
  display:flex;
  color:#909090;
  font-size:12pt;
  justify-content:center;
  align:center;
  font-family:Alvenir;
  padding-top:4%;
  border-bottom:1px solid #909090;
}
#icons {
  display:flex;
  margin-right:auto;
  margin-left:auto;
  font-size:20pt;
  justify-content:center;
  align:center;
}
.fa-telegram,.fa-twitter,.fa-google{
  color:#aaa;
  padding:1%;
  background-color:none;
}
.fa-telegram:hover,.fa-twitter:hover,.fa-google:hover{
  color:white;
}
#me{
  font-size:7pt;
  color:grey;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
}
#copyright{
  border:none;
  padding: 10px 0 2px 0;
  height:100%;
  width:100%;
  background-color:#202020;
}
#cw{
  color:#B8B8B8;
  font-size:7pt;
}
#PopUp{
  position:fixed;
  border:3px solid white;
  background-color:black;
  height:100%;
  width:100%;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:5%;
  padding-top:10%;
  box-shadow:0 0 10px red;
  z-index:5;
}
#pu1{
  padding:5%;
  border:1px dotted red;
  border-radius:20% 0% 20% 0%;
  z-index:6;
}
.live{
  color:white;
  text-shadow:1px 0 100px blue;
}
.contract{
  color:blue;
  font-size:10pt;
}
.lnk{
  color:blue;
}
.fa-close{
  color:red;
  font-size:20pt;
  top:1%;
  margin-left:77%;
  margin-bottom:1;
  position:absolute;
}
